[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tensorflow-cpu = "==2.15.0"
pillow = "*"
numpy = "*"
gunicorn = "*"

[requires]
python_version = "3.9"
